@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $negro-tec;
    color: $blanco-tec;
    text-align: center;
    padding: 15px 0;

    p {
      font-weight: bold;
      color: $blanco-tec;
    }
    
  
    a {
      text-decoration: none;
      color: $blanco-tec;
      transition: color 0.3s ease, transform 0.3s ease;
      display: inline-block;
  
      &:hover {
        color: $amarillo-tec;
        transform: scale(1.1);
      }
    }
  
    i, svg {
      transition: color 0.3s ease, transform 0.3s ease;
    }
  
    a:hover i, a:hover svg {
      color: $amarillo-tec !important;
      transform: scale(1.1);
    }
  }
  