
@import "variables";
@import "mixins";
@import "../partials/general";




// Soporte Page
.soporte-titulo {
  background-color: $amarillo-tec;
  color: $negro-tec;
  text-align: center;
  padding: 20px 10px;
  font-family: $family-font;
}

// Contenedor del acordeón
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.accordion {
  max-width: 800px;
  margin: auto;
}

.accordion-button {
  background-color: $amarillo-tec;
  color: $negro-tec;
  font-weight: bold;
  border: none;
  transition: box-shadow 0.3s ease;

  &:hover {
    background-color: darken($amarillo-tec, 10%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.accordion-body {
  background-color: $blanco-tec;
  color: #333;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

